.header {
  display: block;
  /* color: var(--mantine-color-white);   */
  margin: -1rem;
  padding: 2rem 5rem
}

.header.light {
  background-color: var(--mantine-color-gray-1);
}

.header.dark {
  background-color: var(--mantine-color-dark-8);
}

.title {
  font-weight: bold;
}