body {
  --mantine-font-family: Montserrat;
  --mantine-font-family-headings: Montserrat;
}

h1 {
  --mantine-font-family-headings: Montserrat;
  --mantine-h1-font-weight: 400;
}

h2 {
  --mantine-font-size-md: 1.2rem;
}

