.wrapper {
  min-height: 100%;
}
  
.form {
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 50vh;
  max-width: rem(520px);
  /* padding-top: rem(40px); */
  margin: 25vh auto 0;
  background-color: var(--mantine-color-dark-8);
  border-radius: 1rem;
  box-shadow: var(--mantine-shadow-xl);
  border: 1px solid var(--mantine-color-dark-6);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 94%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}
