.logo {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Montserrat;
  /* font-weight: 900; */
  cursor: pointer;
  text-decoration: none;
}

.logoImg {
  border-radius: 10px;
}

.title {
  letter-spacing: rem(-1px);
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.2;
}

.sub {
  text-align: center;
  font-size: .8rem;
  opacity: 1;
}

.version {
  font-weight: 700;
  opacity: .3
}